<h1 style="text-align: center;">{{title}}</h1>  
<div *ngIf="!resultsShown" style="text-align: center;">
    <label for="numberOfResults" style="display: block;">Number of random results</label>
    <input #numberOfResults class="resultsInput"type="number" min='1' max='60' value="1">
    <button (click)="buildResults(numberOfResults.value)" class="resultsInput">Generate</button>
</div>
<a *ngIf="resultsShown" href="/">
<button class="resultsInput">Start Over</button></a>
<div *ngIf="loading" class="resultsLoadingDiv">
    <div>Loading Data Please Wait</div>
    <img src="assets/img/Loading_Icon.gif">
</div>
<div class="results" *ngFor="let data of displayArray" style=margin-top:3rem>
    <div  *ngIf="displayArray.length > 0" style="text-align: center;">
        <div *ngIf="data.temp != ''" class="weatherData">
            <h2>{{ data.temp }}°F</h2>
            <h2 style="text-transform: capitalize;">{{ data.description }}</h2>
            <h2>Feels Like {{ data.feels_like }}°F</h2>
            <h2>High {{ data.temp_max }}°F / Low {{ data.temp_min }} °F</h2>
        </div>

        <div style="display: inline-block;">
            <div id="map{{data.mapValue}}" class='weatherMap'></div>        
            <h2>Latitude {{ data.lat }}   Longitude {{ data.lng }}</h2>
        </div>
        
        <div *ngIf="data.temp != ''" class="weatherData">
            <h2>Pressure {{ data.pressure }}hPa</h2>
            <h2>Humidity {{ data.humidity }}%</h2>
            <h2>Wind {{ data.wind }}</h2>
            <h2>Sunrise {{ data.sunrise }}</h2>
            <h2>Sunset {{ data.sunset }}</h2>
        </div> 
    </div>   
</div>





