.weatherData{
    display: inline-block; 
    width:30%; 
    height:100%;
    vertical-align: top;
}
.weatherMap{
    width: 400px; 
    height: 300px; 
}

.resultsInput{
    display: block;
    text-align: center;
    width: 5rem;
    margin: .5rem auto;
}

.resultsLoadingDiv{
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 100000;
}